@page "/"
@using todoweb.Client
@using todoweb.Client.Models
@inject HttpClient httpClient

<h1>todoweb</h1>

@if (loaded == false)
{
    <p><em>Loading...</em></p>
}
else
{
    if (loggedInUser == null)
    {
        <p>Please <a href="/login">login</a>.</p>
    }
    else
    {
        <p>Hello, @loggedInUser.Email</p>
        <TodoList Title="Your current TODOs are:" Todos="@allTodos.Where(t => !t.Done).ToList()" OnEdit="@(() => HandleEditTodo())" />
        <br/>
        <br/>
        <b>Create new TODO:</b>
        <EditForm Model="@newTodo" OnValidSubmit="@HandleNewTodo">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText id="title" @bind-Value="@newTodo.Title" />
            <button type="submit">Submit</button>
        </EditForm>
        <br/>
        <br/>
        <TodoList Title="Previously completed TODOs:" Todos="@allTodos.Where(t => t.Done).ToList()" OnEdit="@(() => HandleEditTodo())" />
    }
}

@functions {
    private ITodoClient GetTodoClient()
    {
        return ClientFactory.CreateTodoClient(httpClient);
    }

    private IUserClient GetUserClient()
    {
        return ClientFactory.CreateUserClient(httpClient);
    }

    User loggedInUser;
    private async Task FetchLoggedInUser()
    {
        try
        {
            loggedInUser = await GetUserClient().GetCurrentAsync();
        }
        catch
        {
            // Do nothing
        }
    }

    ICollection<Todo> allTodos;
    private async Task FetchTodos()
    {
        try
        {
            allTodos = await GetTodoClient().GetAllAsync();
        }
        catch
        {
            // Do nothing
        }
    }

    bool loaded = false;
    protected override async Task OnInitAsync()
    {
        await FetchLoggedInUser();

        if (loggedInUser != null)
        {
            await FetchTodos();
        }

        loaded = true;
        this.StateHasChanged();
    }

    Todo newTodo = new Todo();
    private async void HandleNewTodo()
    {
        await GetTodoClient().CreateAsync(newTodo);
        newTodo = new Todo();

        await FetchTodos();
        this.StateHasChanged();
    }

    private void HandleEditTodo()
    {
        this.StateHasChanged();
    }
}
