@page "/"
@using todoweb.Client
@using todoweb.Client.Models
@inject HttpClient httpClient

<h1>todoweb</h1>

@if (loaded == false)
{
    <p><em>Loading...</em></p>
}
else
{
    if (loggedInUser == null)
    {
        <p>Please <a href="/bzr/login">login</a>.</p>
    }
    else
    {
        <p>Hello, @loggedInUser.Email</p>
        <p>Your current TODOs are:</p>
        <ul>
            @foreach (var todo in todos)
            {
                <li>@todo.Title</li>
            }
        </ul>

        <b>Create new TODO:</b>
        <EditForm Model="@newTodo" OnValidSubmit="@HandleNewTodo">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText id="title" bind-Value="@newTodo.Title" />
            <button type="submit">Submit</button>
        </EditForm>
    }
}

@functions {
    private ITodoClient GetTodoClient()
    {
        return new TodoClient(httpClient);
    }

    private IUserClient GetUserClient()
    {
        return new UserClient(httpClient);
    }

    private async Task<User> GetLoggedInUser()
    {
        try
        {
            return await GetUserClient().GetCurrentAsync();
        }
        catch
        {
            return null;
        }
    }

    private async Task<IEnumerable<Todo>> GetTodos()
    {
        try
        {
            return await GetTodoClient().GetAllAsync();
        }
        catch
        {
            return null;
        }
    }

    User loggedInUser;
    ICollection<Todo> todos;
    bool loaded = false;
    protected override async Task OnInitAsync()
    {
        loggedInUser = await GetLoggedInUser();

        if (loggedInUser != null)
        {
            todos = (await GetTodos())?.ToList();
        }
        loaded = true;
    }

    Todo newTodo = new Todo();
    private async void HandleNewTodo()
    {
        await GetTodoClient().CreateAsync(newTodo);
        todos?.Add(newTodo);
        newTodo = new Todo();
        this.StateHasChanged();
    }
}
